  .collapsible-header{
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
  }
  .collapsible-header.issued{
    color: hotpink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
  }
  .collapsible-header.available{
    color: darkturquoise;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  }
  .subheader{     
    color: grey;
    font-family: cursive;
    position: relative;
    margin-top: 15px;
    font-size: small;
    font-weight: normal;
  }
  .btn-floating{
    margin-top: 25px;
    margin-left: 10px;
  }
  .material-icons.fav{
    margin-left: 1px;
  }
  .container.list{
    padding-top: 20px;
    padding-bottom: 100px;
  }
  #aboutData > p{
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .issueData{
    font-weight: normal; 
    letter-spacing: 1px; 
    font-size: 0.9rem;
  }
  .saveButton{
    color:rgb(192, 192, 206);
    margin-top: 20px;
    margin-left: 30px;
  }
  .saveButton.clicked{
    margin-top: 20px;
    margin-left:30px;
    color:lightseagreen;
  }
 
.favlist > li{
    padding: 5px;
    font-size: 20px;
    font-weight: normal;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 70px;
}
.favlist > li > span{
    display: block;
}

.favlist > li > span:nth-child(2){
    font-size: 15px;
    margin-top: 4px;
    color: #999;
}

.favlist> li > div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 20px;
    text-align: center;
    padding: 5px 0;
    font-weight:  bold;
    cursor:  pointer;
} 

.favl > ul{
  list-style-type: none;
  padding: 0;
}  

.brand-logo > span{
  font-size: 1.5rem;
  color: black;
}

